json/flows.json
[{"id":"6bba69ae.c84328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a955f0b.3b0ca","type":"debug","z":"6bba69ae.c84328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":652.4999389648438,"y":480.9998321533203,"wires":[]},{"id":"98324eab.de069","type":"json","z":"6bba69ae.c84328","name":"","property":"payload","action":"","pretty":false,"x":515.5000076293945,"y":296.99987030029297,"wires":[["e5af58bb.0543b8","4c7a47d2.578c48","605c729b.e3cc5c"]]},{"id":"e5af58bb.0543b8","type":"function","z":"6bba69ae.c84328","name":"Get Voltage","func":"if(msg.payload.v_l1n)\n    return msg.payload.v_l1n;\nelse if(msg.payload.voltagem_a)\n    return msg.payload.voltagem_a;","outputs":1,"noerr":0,"x":698.5000038146973,"y":193.99989986419678,"wires":[["38a137cd.bb1a28"]]},{"id":"4c7a47d2.578c48","type":"function","z":"6bba69ae.c84328","name":"Get Power","func":"if(msg.payload.w_l1)\n    return msg.payload.w_l1;\nelse if(msg.payload.power_active_a)\n    return msg.payload.power_active_a;","outputs":1,"noerr":0,"x":706.0000038146973,"y":260.9998998641968,"wires":[["f6d7a4.e815d86"]]},{"id":"605c729b.e3cc5c","type":"function","z":"6bba69ae.c84328","name":"Get Current","func":"if(msg.payload.a_l1)\n    return msg.payload.a_l1;\nelse if(msg.payload.corrente_a)\n    return msg.payload.corrente_a;","outputs":1,"noerr":0,"x":679.0000038146973,"y":356.9998998641968,"wires":[["e8008475.45d3b8"]]},{"id":"38a137cd.bb1a28","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":0,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{value}}","min":0,"max":"250","colors":["#ca3838","#e6e600","#14b01f"],"seg1":"150","seg2":"175","x":900.5000038146973,"y":210.99989986419678,"wires":[]},{"id":"f6d7a4.e815d86","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência","label":"W","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":875.5000038146973,"y":283.9998998641968,"wires":[]},{"id":"e8008475.45d3b8","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":2,"width":0,"height":0,"gtype":"gage","title":"Corrente","label":"A","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"140","seg2":"145","x":869.5000038146973,"y":363.9998998641968,"wires":[]},{"id":"6e795685.da6d68","type":"mongodb in","z":"6bba69ae.c84328","mongodb":"416560f7.d7489","name":"IoTSmartReginaLabDC_temp_Sensor","collection":"sth_/_IoTSmartReginaLabDC_temp_Sensor","operation":"find","x":384.0000457763672,"y":510.0000648498535,"wires":[["7e16f452.afc62c"]]},{"id":"2549814f.2df4be","type":"inject","z":"6bba69ae.c84328","name":"","topic":"","payload":"{\"attrName\":\"v_l1n\"}","payloadType":"json","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":588.9999752044678,"wires":[[]]},{"id":"7e16f452.afc62c","type":"function","z":"6bba69ae.c84328","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":566.4999618530273,"y":560.9999980926514,"wires":[["c7f0f7a6.116248","5a955f0b.3b0ca"]]},{"id":"c7f0f7a6.116248","type":"ui_chart","z":"6bba69ae.c84328","name":"","group":"57f30240.daab4c","order":0,"width":0,"height":0,"label":"Tensão Média Diária","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":751.4999656677246,"y":588.9999618530273,"wires":[[]]},{"id":"b793936c.dfb07","type":"ui_dropdown","z":"6bba69ae.c84328","name":"","label":"","tooltip":"","place":"Selecione um sensor","group":"af6bef9a.1e727","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":88,"y":162.5311222076416,"wires":[["366d95ab.57a68a"]]},{"id":"503f69ba.d1ad98","type":"function","z":"6bba69ae.c84328","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":812.0085067749023,"y":35.04828453063965,"wires":[["b793936c.dfb07"]]},{"id":"de2259a0.8b5778","type":"worldmap","z":"6bba69ae.c84328","name":"","lat":"-5.8376053","lon":"-35.1991649","zoom":"16","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":234.1959991455078,"y":824.4090347290039,"wires":[]},{"id":"33218950.aad5e6","type":"NGSI-Entity","z":"6bba69ae.c84328","name":"","endpoint":"c04f97ca.dad838","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":332.91762924194336,"y":238.09077644348145,"wires":[["98324eab.de069"]]},{"id":"f53b46cb.744d88","type":"http request","z":"6bba69ae.c84328","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":560.1988258361816,"y":39.61647891998291,"wires":[["503f69ba.d1ad98"]]},{"id":"80e866dc.e43598","type":"function","z":"6bba69ae.c84328","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.33:1026/v2/entities\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":333.6505432128906,"y":43.05113220214844,"wires":[["f53b46cb.744d88"]]},{"id":"5d4d862b.a41338","type":"inject","z":"6bba69ae.c84328","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":84.19601440429688,"y":35.97727012634277,"wires":[["80e866dc.e43598"]]},{"id":"b9ae39de.e34128","type":"inject","z":"6bba69ae.c84328","name":"","topic":"","payload":"select","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":115.19882583618164,"y":274.96868896484375,"wires":[["33218950.aad5e6"]]},{"id":"366d95ab.57a68a","type":"change","z":"6bba69ae.c84328","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.2017288208008,"y":143.03409004211426,"wires":[[]]},{"id":"ab29fef3.f0e7e","type":"inject","z":"6bba69ae.c84328","name":"","topic":"","payload":"select","payloadType":"flow","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":114.10509490966797,"y":689.0965280532837,"wires":[["321085a0.ad67ea"]]},{"id":"321085a0.ad67ea","type":"function","z":"6bba69ae.c84328","name":"query","func":"msg.collection = msg.payload;\nvar aux = new Date();\nvar hj = aux.getTime() - (aux.getTimezoneOffset() * 60000)\n\nvar dataHj = new Date(hj - (3600000*3));\n\nvar aux2 = aux.setDate(aux.getDate()-1);\naux2 = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar dataOntem = new Date(aux2 - (3600000*3));\ndataOntem.setHours(0, 0, 0, 0);\ndataHj.setHours(0, 0, 0, 0);\nmsg.data = [dataOntem, dataHj];\nmsg.payload = {\"recvTime\": {\"$gte\": new Date(dataOntem),\"$lt\": new Date(dataHj)}, \"attrName\": \"v_l1n\"};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"x":268.2925796508789,"y":654.9657125473022,"wires":[["6e795685.da6d68"]]},{"id":"727ea626.8fc638","type":"ui_group","z":"","name":"Tempo-real","tab":"2d6b9ea.9d3c362","order":4,"disp":true,"width":"6","collapse":false},{"id":"416560f7.d7489","type":"mongodb","z":"","hostname":"143.107.145.33","port":"27000","db":"sth_helixiot","name":""},{"id":"57f30240.daab4c","type":"ui_group","z":"","name":"Histórico","tab":"2d6b9ea.9d3c362","order":5,"disp":true,"width":"6","collapse":false},{"id":"af6bef9a.1e727","type":"ui_group","z":"","name":"Sensor","tab":"2d6b9ea.9d3c362","order":3,"disp":true,"width":"6","collapse":false},{"id":"c04f97ca.dad838","type":"Context-Broker","z":"","name":"OrionHelixUSP","endpoint":"http://143.107.145.33:1026","service":"helixiot","idmEndpoint":""},{"id":"2d6b9ea.9d3c362","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]